h1 {
    text-align: center;
}

.field-container {
    display: flex;
    flex-direction: row;
    margin: 12px;
    gap: 12px;
}

form {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}

.field-error {
    color: red;
    font-size: 14px;
}

.is-valid {
    border: 2px solid green;
}

.is-invalid {
    border: 2px solid red;
}


