* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #007d7f;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.board {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    background: white;
    border-radius: 10px;
}

.column h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 20px;
    color: white;
}

.cards {
    min-height: 250px;
    padding: 10px;
    border: 2px dashed transparent;
    transition: 0.2s;
    margin: 12px;
}

.todo{
    background: rgb(199, 18, 18);
}

.progress {
    background: rgb(234, 203, 23);
}

.done {
    background: rgb(11, 189, 11);
}

.cards.active {
    border-color: rgb(32, 32, 216);;
    background: #eef6ff;
}

.add-form {
    display: flex;
    margin-bottom: 15px;
    gap: 5px;
    padding: 15px;
}

.add-form input{
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    outline: black;
}

.add-form button {
    padding: 8px 12px;
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}

.card:focus {
    outline: 2px solid rgb(59, 98, 217);
}

.card.picked {
    background: #fae4a2;
}

.delete {
    border: none;
    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}